{% extends 'base/main.html' %}

{% block content %}

<h1>Number of Appliacations: {{count}}</h1>

<div id="search-add-wrapper">
  <a id="add-link" href="{% url 'app_create' %}"> &nbsp; Create Application
    &#x2b </a>
  <form method="get" class="search">
    <input placeholder="Student Name" type="text" name="searchArea" value="{{search_input}}">
    <input class="search-button" type="submit" value="Search">

  </form>
</div>

<div class="elements-wrapper">
  {% for app in apps %}
  <div class="element-wrapper">
    <div class="title">
      <a href="{% url 'app_detail' app.id %}"> {{ app.student.name }} {{ app.student.surname }}</a>
      <a href="{% url 'app_update' app.id %}">Edit</a>
      <a class="delete-link" href="{% url 'app_delete' app.id %}">&nbsp;&#215;</a>
    </div>
  </div>
  {% empty %}
  <h3 class="error">No Applications Found</h3>
  {% endfor %}
</div>

{% endblock content %}