{% extends "base/reports.html" %}
{% block content %}


  
<h1>Number of Positions: {{count}}</h1>

<div id="search-add-wrapper" style='justify-content:flex-end;'>
  <form class="search" method="get">
    <input placeholder="Company Name" type="text" name="searchArea"
      value="{{ search_input }}"/>
    <input class="search-button" type="submit" value="Search"/>
  </form>
</div>

{% block report_table %}
{% regroup positions by company as company_groups %}
<div class="d-flex justify-content-center">
  <table class="table table-bordered t">
    <thead class="t-head">
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Title</th>
        <th scope="col">Duration<br />(months)</th>
        <th scope="col">Location</th>
        <th scope="col">Paid</th>
        <th scope="col">Available</th>
        <th scope="col">Total Applications</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      {% for group in company_groups %}
      <tr class='t-row'  style="
          font-size:1.1rem; background-color: rgba(218, 201, 207, 0.41); 
      ">
        <td style='text-align:left' colspan='8'><strong>{{ group.grouper.companyName }} </strong></td>
      </tr>
      {% for position in group.list %}
      <tr class="t-row">
        
        <td></td>
        
        {% if position.available %}
        <td>{{ position.title }}</td>
        {% else %}
        <td><a href='{% url "position_detail" position.id %}'>{{ position.title }}</a></td>
        {% endif %}
          
        <td>{{ position.duration }}</td>
        <td>{{ position.location }}</td>
        <td>{{ position.paid|yesno:"Paid,Unpaid" }}</td>
        <td>{{ position.available|yesno:" 🟢,🔴" }}</td>
        <td>{{ position.total_applications }} </td>
         <td>
          {% if position.available %}
          <button
            class="btn btn-outline-primary btn-sm search-button"
            onclick="window.location.href='{% url 'app_create_filtered' position.id position.company.id %}'"
            >
            Apply
          </button>
          {% endif %}
        </td>
       
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
    
  </table>
    {% if not positions %}
      <h3 class='error'>No Positions Found</h3>
    {% endif %}
      
</div>
{% endblock report_table %}
{% endblock content %}